streamlit
openai
python-dotenv
qdrant-client
fastembed
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-index-llms-openrouter
llama-index-llms-groq
pypdf